@import "./_vars.scss";

#carrito {
  padding: 50px;
  .row {
    .titulo {
      border-bottom: 3px solid $amarillo;
      display: inline;
      width: 100%;
      padding: 20px 0 0 0;
      p {
        display: inline;
        font-size: 32px;
        color: $gris;
        font-weight: 700;
      }
    }
    .lista {
      padding: 10px 0;
      border-bottom: 1px solid $grisOscuro;
      .row {
        .col-sm-5 {
          .row {
            padding: 25px 0;
            .col-6 {
              img {
                width: 80px;
                height: 80px;
              }
            }
            .col-6 {
              .modelo {
                font-weight: 900;
                font-size: 26px;
                margin: 0;
              }
              .detalle {
                font-size: 22px;
                font-weight: 300;
                margin: 0;
              }
              .ic {
                opacity: 0;
              }
            }
          }
        }
        .count {
          text-align: right;
          padding: 15px 0;
          p {
            font-size: 32px;
          }
        }
        .count2 {
          text-align: right;
          padding: 40px 0;
          p {
            font-size: 32px;
          }
        }
        .precio {
          text-align: right;
          padding: 40px;
          p {
            font-weight: 900;
            font-size: 26px;
          }
        }
      }
    }
    .total {
      text-align: right;
      padding-top: 40px;
      p {
        font-weight: 900;
        font-size: 36px;
      }
    }
    .presupuesto {
      text-align: right;
      a {
        width: 100px;
        color: white;
        text-decoration: none;
        background-color: $grisOscuro;
        border-radius: 15px;
        font-size: 18px;
        border: none;
        padding: 10px 25px;
      }
      .volver {
        background-color: $amarillo;
        color: $grisOscuro;
        padding: 10px 25px;
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 576px) {
  #carrito {
    padding: 20px;
    .row {
      .titulo {
        border-bottom: 3px solid $amarillo;
        display: inline;
        width: 100%;
        padding: 20px 0 0 0;
        p {
          display: inline;
          font-size: 32px;
          color: $gris;
          font-weight: 700;
        }
      }
      .lista {
        padding: 0px 0;
        border-bottom: 1px solid $grisOscuro;
        .row {
          .col-sm-6 {
            .row {
              padding: 0;
              .col-sm-2 {
                padding: 20px;
              }
              .col-sm-10 {
                padding-top: 25px;
                .modelo {
                  font-weight: 900;
                  font-size: 26px;
                  margin: 0;
                }
                .detalle {
                  font-size: 22px;
                  font-weight: 300;
                  margin: 0;
                }
                .ic {
                  display: flex;
                  opacity: 1;
                  .count2 {
                    text-align: left;
                    padding: 10px 0px;
                    p {
                      font-weight: 900;
                      font-size: 26px;
                    }
                  }
                  .precio2 {
                    text-align: right;
                    padding: 10px 30px;
                    p {
                      font-weight: 900;
                      font-size: 26px;
                    }
                  }
                }
              }
            }
          }
          .count {
            display: none;
          }
          .precio {
            display: none;
          }
        }
      }
      .total {
        text-align: right;
        padding-top: 40px;
        p {
          font-weight: 900;
          font-size: 36px;
        }
        button {
          margin-top: 0px;
          width: 100%;
          color: $grisOscuro;
          background-color: $amarillo;
          border-radius: 15px;
          font-size: 22px;
          padding: 10px;
          border: none;
          margin-bottom: 50px;
        }
      }
      .presupuesto {
        padding-top: 40px;
        text-align: right;
        p {
          font-weight: 900;
          font-size: 36px;
        }
        button {
          width: 100%;
          color: white;
          background-color: $grisOscuro;
          border-radius: 15px;
          font-size: 22px;
          border: none;
          padding: 10px;
        }
      }
    }
  }
}
