@import "./_vars.scss";

#compromiso {
  padding: 50px 40px;
  background-color: $amarillo;
  .col-sm-4 {
    text-align: center;
    padding: 10px 50px;
    img {
      width: 120px;
      height: 120px;
      padding: 20px;
    }
    h1 {
      font-size: 24px;
      color: white;
    }
    p {
      color: white;
    }
  }
}

#confianza {
  background-color: $grisClaro;
  margin: 80px 0;
  padding: 25px 50px;
  .titulo {
    border-bottom: 1px solid black;
    h1 {
      padding: 10px 0;
      color: $grisOscuro2;
      font-size: 36px;
      font-weight: 700;
    }
  }
  .slide-container {
    padding: 0px 50px;
    .react-multi-carousel-list {
      overflow: hidden;
      .react-multiple-carousel__arrow {
        background: rgba(0, 0, 0, 0.3);
      }
      .react-multiple-carousel__arrow--right {
        right: -12px;
      }
      .react-multiple-carousel__arrow--left {
        left: -12px;
      }
      .react-multi-carousel-dot-list {
        .react-multi-carousel-dot {
          button {
            background-color: $grisOscuro;
          }
        }
        .react-multi-carousel-dot--active {
          button {
            border: 2px solid $amarillo;
            background-color: $grisClaro;
          }
        }
      }
    }

    div {
      padding: 40px 5px;
      img {
        width: 125px;
        height: 125px;
      }
    }
  }
}

#marcas {
  margin: 80px 0;
  padding: 50px;
  .titulo {
    border-bottom: 1px solid $amarillo;
    h1 {
      padding: 10px 0;
      color: $amarillo;
      font-size: 34px;
    }
  }
  .slide-container {
    padding: 30px 50px;
    div {
      padding: 20px 25px 40px 15px;
      img {
        height: auto;
      }
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 1140px) {
  #compromiso {
    padding: 50px 20px;
    .col-sm-4 {
      text-align: center;
      padding: 10px 30px;
    }
  }
}

@media (max-width: 576px) {
  #compromiso {
    padding: 50px 20px;
    .col-sm-4 {
      padding: 10px;
    }
  }

  #confianza {
    background-color: $amarillo;
    margin: 60px 0;
    padding: 50px 20px;
    .titulo {
      h1 {
        padding: 10px 0;
        color: black;
        font-size: 24px;
      }
    }
    .slide-container {
      padding: 30px 0px;
      div {
        text-align: center;
        padding: 40px 5px;
        img {
          width: 150px;
          height: 150px;
        }
      }
    }
  }

  #marcas {
    background-color: $grisOscuro;
    margin: 60px 0;
    padding: 50px 20px;
    .titulo {
      border-bottom: 1px solid $amarillo;
      h1 {
        font-size: 24px;
      }
    }
    .slide-container {
      padding: 30px 0px;
      div {
        text-align: center;
        padding: 40px 0;
        img {
          width: 150px;
          height: auto;
        }
      }
    }
  }
}
