#compromiso {
  padding: 50px 40px;
  background-color: #f5df4d;
}

#compromiso .col-sm-4 {
  text-align: center;
  padding: 10px 50px;
}

#compromiso .col-sm-4 img {
  width: 120px;
  height: 120px;
  padding: 20px;
}

#compromiso .col-sm-4 h1 {
  font-size: 24px;
  color: white;
}

#compromiso .col-sm-4 p {
  color: white;
}

#confianza {
  background-color: #cccccc;
  margin: 80px 0;
  padding: 25px 50px;
}

#confianza .titulo {
  border-bottom: 1px solid black;
}

#confianza .titulo h1 {
  padding: 10px 0;
  color: #282828;
  font-size: 36px;
  font-weight: 700;
}

#confianza .slide-container {
  padding: 0px 50px;
}

#confianza .slide-container .react-multi-carousel-list {
  overflow: hidden;
}

#confianza .slide-container .react-multi-carousel-list .react-multiple-carousel__arrow {
  background: rgba(0, 0, 0, 0.3);
}

#confianza .slide-container .react-multi-carousel-list .react-multiple-carousel__arrow--right {
  right: -12px;
}

#confianza .slide-container .react-multi-carousel-list .react-multiple-carousel__arrow--left {
  left: -12px;
}

#confianza .slide-container .react-multi-carousel-list .react-multi-carousel-dot-list .react-multi-carousel-dot button {
  background-color: #383838;
}

#confianza .slide-container .react-multi-carousel-list .react-multi-carousel-dot-list .react-multi-carousel-dot--active button {
  border: 2px solid #f5df4d;
  background-color: #cccccc;
}

#confianza .slide-container div {
  padding: 40px 5px;
}

#confianza .slide-container div img {
  width: 125px;
  height: 125px;
}

#marcas {
  margin: 80px 0;
  padding: 50px;
}

#marcas .titulo {
  border-bottom: 1px solid #f5df4d;
}

#marcas .titulo h1 {
  padding: 10px 0;
  color: #f5df4d;
  font-size: 34px;
}

#marcas .slide-container {
  padding: 30px 50px;
}

#marcas .slide-container div {
  padding: 20px 25px 40px 15px;
}

#marcas .slide-container div img {
  height: auto;
}

@media screen and (min-width: 576px) and (max-width: 1140px) {
  #compromiso {
    padding: 50px 20px;
  }
  #compromiso .col-sm-4 {
    text-align: center;
    padding: 10px 30px;
  }
}

@media (max-width: 576px) {
  #compromiso {
    padding: 50px 20px;
  }
  #compromiso .col-sm-4 {
    padding: 10px;
  }
  #confianza {
    background-color: #f5df4d;
    margin: 60px 0;
    padding: 50px 20px;
  }
  #confianza .titulo h1 {
    padding: 10px 0;
    color: black;
    font-size: 24px;
  }
  #confianza .slide-container {
    padding: 30px 0px;
  }
  #confianza .slide-container div {
    text-align: center;
    padding: 40px 5px;
  }
  #confianza .slide-container div img {
    width: 150px;
    height: 150px;
  }
  #marcas {
    background-color: #383838;
    margin: 60px 0;
    padding: 50px 20px;
  }
  #marcas .titulo {
    border-bottom: 1px solid #f5df4d;
  }
  #marcas .titulo h1 {
    font-size: 24px;
  }
  #marcas .slide-container {
    padding: 30px 0px;
  }
  #marcas .slide-container div {
    text-align: center;
    padding: 40px 0;
  }
  #marcas .slide-container div img {
    width: 150px;
    height: auto;
  }
}
/*# sourceMappingURL=compromiso.css.map */