@import "./_vars.scss";

#compromiso {
  margin: 90px 0;
  padding: 50px 40px;
  background-color: $amarillo;
  .col-sm-4 {
    text-align: center;
    padding: 10px 50px;
    img {
      width: 120px;
      height: 120px;
      padding: 20px;
    }
    h1 {
      font-size: 24px;
      color: white;
    }
    p {
      color: white;
    }
  }
}

#confianza {
  background-color: $grisClaro;
  margin: 180px 0;
  padding: 25px 50px;
  .titulo {
    border-bottom: 1px solid black;
    h1 {
      padding: 10px 0 0 0;
      color: $grisOscuro2;
      font-size: 36px;
      font-weight: 700;
    }
  }
  .slide-container {
    padding: 0px 50px;
    .swiper-container {
      .swiper-pagination {
        .swiper-pagination-bullet {
          background-color: $grisOscuro;
          opacity: 1;
        }
        .swiper-pagination-bullet-active {
          border: 2px solid $amarillo;
          background-color: white;
        }
      }
      .swiper-button-prev {
        left: -30px;
      }
      .swiper-button-next {
        right: -30px;
      }
    }

    div {
      padding: 10px 10px;
      img {
        width: 125px;
        height: 125px;
      }
    }
  }
}

#marcas {
  margin: 80px 0;
  padding: 25px 50px;
  .titulo {
    border-bottom: 1px solid $amarillo;
    h1 {
      padding: 10px 0 0 0;
      color: $amarillo;
      font-size: 34px;
    }
  }
  .slide-container {
    padding: 0px 60px;
    div {
      padding: 10px 10px;
      text-align: center;
      img {
        width: 125px;
        height: 125px;
      }
    }
    .swiper-button-prev {
      left: -30px;
    }
    .swiper-button-next {
      right: -30px;
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 1140px) {
  #compromiso {
    padding: 50px 20px;
    .col-sm-4 {
      text-align: center;
      padding: 10px 30px;
    }
  }
}

@media (max-width: 576px) {
  #compromiso {
    padding: 50px 20px;
    .col-sm-4 {
      padding: 10px;
    }
  }

  #confianza {
    padding: 50px 20px;
    .titulo {
      h1 {
        font-size: 24px;
      }
    }
    .slide-container {
      padding: 30px 0px;
      .swiper-container {
        .swiper-button-prev {
          left: 0px;
        }
        .swiper-button-next {
          right: 0px;
        }
      }
      div {
        text-align: center;
        padding: 10px 5px;
        img {
          width: 150px;
          height: 150px;
        }
      }
    }
  }

  #marcas {
    margin: 60px 0;
    padding: 50px 20px;
    .titulo {
      border-bottom: 1px solid $amarillo;
      h1 {
        font-size: 24px;
      }
    }
    .slide-container {
      padding: 30px 0px;
      .swiper-container {
        .swiper-button-prev {
          left: 0px;
        }
        .swiper-button-next {
          right: 0px;
        }
      }
      div {
        text-align: center;
        padding: 10px 0;
        img {
          width: 150px;
          height: auto;
        }
      }
    }
  }
}
