@import "./_vars.scss";

#destacados {
  padding: 50px;
  .titulo {
    border-bottom: 3px solid #333;
    display: inline;
    width: 100%;
    padding: 20px 0 0 0;
    svg {
      margin-top: -15px;
      color: #333;
      margin-right: 25px;
    }
    p {
      display: inline;
      font-size: 2.1rem;
      color: #333;
      font-weight: 700;
    }
  }
  .slide-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    .swiper-container {
      .swiper-button-next {
        right: -20px;
      }
      .swiper-button-prev {
        left: -20px;
      }
      .swiper-pagination {
        .swiper-pagination-bullet {
          background-color: $grisOscuro;
          opacity: 1;
          bottom: 0;
        }
        .swiper-pagination-bullet-active {
          border: 2px solid $amarillo;
          background-color: white;
        }
      }
    }
    .row {
      padding: 0px 10px;
      .col-sm-6 {
        padding: 30px 30px 0 30px;
        h1 {
          font-size: 32px;
          color: #333;
          font-weight: 900;
          padding: 15px 0 0 0;
        }
        p {
          font-weight: 300;
          color: #444;
          font-size: 26px;
          line-height: 29px;
          padding: 20px 0;
        }
        .precio {
          font-size: 30px;
          font-weight: 800;
          margin-right: 25px;
        }
        a {
          color: white;
          padding: 8px 18px;
          background-color: #777;
          font-size: 22px;
          border-radius: 5px;
          text-decoration: none;
        }
      }
    }
  }
}

#itemmochilas {
  padding: 50px;
  .titulo {
    border-bottom: 3px solid $amarillo;
    display: inline;
    width: 100%;
    padding: 20px 0 0 0;
    margin-bottom: 30px;
    p {
      display: inline;
      font-size: 32px;
      color: $gris;
      font-weight: 700;
    }
  }
  .slide-container {
    text-align: center;
    padding: 20px 0 40px 0;
    .image-gallery {
      .image-gallery-content {
        .image-gallery-thumbnails-container {
          button {
            width: 150px;
            .image-gallery-thumbnail-inner {
              .image-gallery-thumbnail-image {
                height: auto;
              }
            }
          }
        }
      }
      .fullscreen {
        top: 30%;
      }
    }
  }
  .texto {
    h1 {
      font-size: 36px;
      color: #333;
      font-weight: 900;
      padding: 20px 0 0 0;
      margin: 0;
    }
    p {
      font-weight: 300;
      color: #444;
      font-size: 26px;
      line-height: 29px;
      padding: 5px 0 20px 0;
    }
    .precio {
      b {
        font-size: 30px;
        font-weight: 800;
        margin-right: 25px;
      }
    }
    .row {
      .col-lg-4 {
        margin-bottom: 20px;
      }
      .col-lg-8 {
        button {
          padding: 10px 35px;
          width: 100%;
          background-color: $grisOscuro;
          font-size: 20px;
          color: white;
          border: none;
          border-radius: 5px;
        }
      }
    }
    .botones {
      p {
        font-weight: 300;
        color: #444;
        font-size: 22px;
        line-height: 24px;
        padding: 20px 0;
      }
      button {
        width: 30px;
        height: 30px;
        margin: 5px;
        border-radius: 5px;
        border: none;
      }
      .grisoscuro {
        background-color: $grisOscuro;
      }
      .rojo {
        background-color: red;
      }
      .celeste {
        background-color: royalblue;
      }
      .grisclaro {
        background-color: $gris;
      }
      .verde {
        background-color: green;
      }
    }
  }
  .bbox {
    border-bottom: 3px solid $amarillo;
    margin-top: 30px;
  }
}

@media screen and (min-width: 576px) and (max-width: 1140px) {
  #destacados {
    padding: 30px;
    .slide-container {
      width: 100%;
      .row {
        padding: 0px 20px;
        .col-sm-6 {
          padding: 30px 15px 0 15px;
          h1 {
            padding: 5px 0;
            margin: 0;
          }
          p {
            font-weight: 300;
            color: #444;
            font-size: 24px;
            line-height: 27px;
            padding: 15px 0;
          }
          .precio {
            font-size: 30px;
            font-weight: 800;
            margin-right: 25px;
          }
          a {
            color: white;
            padding: 8px 18px;
            background-color: #777;
            font-size: 22px;
            border-radius: 5px;
            text-decoration: none;
          }
        }
      }
    }
  }
  #itemmochilas {
    padding: 30px;
    .texto {
      h1 {
        font-size: 32px;
        color: #333;
        font-weight: 900;
        padding: 15px 0 0 0;
      }
      p {
        font-size: 22px;
        line-height: 26px;
      }
      .precio {
        b {
          font-size: 26px;
          margin-right: 25px;
        }
      }
      .row {
        .col-lg-4 {
          margin-bottom: 20px;
        }
        .col-lg-8 {
          button {
            padding: 10px;
          }
        }
      }
      .botones {
        p {
          font-weight: 300;
          color: #444;
          font-size: 22px;
          line-height: 24px;
          padding: 20px 0;
        }
        button {
          width: 30px;
          height: 30px;
          margin: 5px;
          border-radius: 5px;
          border: none;
        }
        .grisoscuro {
          background-color: $grisOscuro;
        }
        .rojo {
          background-color: red;
        }
        .celeste {
          background-color: royalblue;
        }
        .grisclaro {
          background-color: $gris;
        }
        .verde {
          background-color: green;
        }
      }
    }
    .bbox {
      border-bottom: 3px solid $amarillo;
      margin-top: 30px;
    }
  }
}

@media (max-width: 576px) {
  #destacados {
    padding: 50px 20px;
    .titulo {
      padding: 20px 0;
      svg {
        margin-top: -15px;
        margin-right: 25px;
      }
      p {
        font-size: 26px;
      }
    }
    .slide-container {
      width: 90%;
      .swiper-container {
        .swiper-slide {
          width: 100%;
        }
      }
      .row {
        padding: 0px 10px;
        .col-sm-6 {
          padding: 30px 0px 0 0px;
          h1 {
            font-size: 26px;
            padding: 15px 0;
          }
          p {
            font-size: 22px;
            line-height: 25px;
            padding: 20px 0;
          }
          .precio {
            font-size: 26px;
            margin-right: 25px;
          }
          a {
            padding: 8px 18px;
            background-color: #777;
            font-size: 20px;
          }
        }
      }
    }
  }
  #itemmochilas {
    padding: 10px;
    .titulo {
      p {
        font-size: 26px;
      }
    }
    .texto {
      h1 {
        font-size: 26px;
        padding: 15px 0 0 0;
      }
      p {
        font-size: 18px;
        line-height: 22px;
      }
      .precio {
        b {
          font-size: 26px;
          margin-right: 25px;
        }
      }
      .row {
        .col-lg-4 {
          margin-bottom: 20px;
        }
        .col-lg-8 {
          button {
            padding: 10px;
          }
        }
      }
      .botones {
        p {
          font-weight: 300;
          color: #444;
          font-size: 22px;
          line-height: 24px;
          padding: 20px 0;
        }
        button {
          width: 30px;
          height: 30px;
          margin: 5px;
          border-radius: 5px;
          border: none;
        }
      }
    }
    .bbox {
      border-bottom: 3px solid $amarillo;
      margin-top: 30px;
    }
  }
}
