#DetalleForm {
  padding: 50px;
}

#DetalleForm .titulo {
  border-bottom: 3px solid #f5df4d;
  display: inline;
  width: 100%;
  padding: 20px 0 0 0;
}

#DetalleForm .titulo p {
  display: inline;
  font-size: 32px;
  color: #939597;
  font-weight: 700;
}

#DetalleForm .detalle2 {
  padding: 60px 0;
}

#DetalleForm .detalle2 .row {
  padding: 5px 0;
}

#DetalleForm .detalle2 .row .image {
  margin-top: 20px;
}

#DetalleForm .detalle2 .row .descri {
  padding-top: 25px;
}

#DetalleForm .detalle2 .row .descri .modelo {
  font-weight: 900;
  font-size: 26px;
  margin: 0;
}

#DetalleForm .detalle2 .row .descri .detalle {
  font-size: 22px;
  font-weight: 300;
  margin: 0;
}

#DetalleForm .detalle2 .row .descri .detalle b {
  font-weight: 900;
}

#DetalleForm .detalle2 .borde {
  border-bottom: 3px solid #f5df4d;
  padding: 0;
  width: 100%;
  margin-top: 30px;
}

#DetalleForm .detalle2 .total {
  text-align: right;
}

#DetalleForm .detalle2 .total p {
  font-size: 32px;
  font-weight: 900;
}

#DetalleForm .detalle2 .total p b {
  margin-left: 25px;
}

#DetalleForm .formulario {
  padding: 60px;
}

#DetalleForm .formulario input {
  border: none;
  border-bottom: 1px solid #383838;
  width: 100%;
  padding: 5px;
  font-size: 22px;
  margin-bottom: 15px;
}

#DetalleForm .formulario input:hover {
  -webkit-appearance: auto;
}

#DetalleForm .formulario :-ms-input-placeholder {
  color: #939597;
}

#DetalleForm .formulario label {
  width: 40%;
  color: #939597;
}

#DetalleForm .formulario label input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#DetalleForm .formulario label input:hover {
  border: 1px solid black;
  -webkit-appearance: auto;
}

#DetalleForm .formulario label input:focus {
  border: 1px solid black;
  -webkit-appearance: auto;
}

#DetalleForm .formulario .active input:hover {
  border: 1px solid black;
  -webkit-appearance: auto;
}

#DetalleForm .formulario .porque {
  border-bottom: 1px solid #383838;
  color: #383838;
  font-size: 22px;
  padding: 8px;
  margin: 20px 0;
}

#DetalleForm .formulario textarea {
  max-width: 100%;
  width: 100%;
  padding: 8px;
  border: 1px solid #383838;
  height: 150px;
  margin-top: 25px;
}

#DetalleForm .formulario textarea::-webkit-input-placeholder {
  font-size: 22px;
  color: #383838;
}

#DetalleForm .formulario textarea:-ms-input-placeholder {
  font-size: 22px;
  color: #383838;
}

#DetalleForm .formulario textarea::-ms-input-placeholder {
  font-size: 22px;
  color: #383838;
}

#DetalleForm .formulario textarea::placeholder {
  font-size: 22px;
  color: #383838;
}

#DetalleForm .formulario div {
  text-align: right;
  margin-top: 30px;
}

#DetalleForm .formulario div button {
  width: 70%;
  border: none;
  background-color: #383838;
  padding: 15px;
  border-radius: 10px;
  color: white;
}

#DetalleForm .formulario div button:hover {
  opacity: 0.7;
}

#gracias {
  padding: 50px;
}

#gracias .titulo {
  border-bottom: 3px solid #f5df4d;
  display: inline;
  width: 100%;
  padding: 20px 0;
}

#gracias .titulo p {
  display: inline;
  font-size: 32px;
  color: #939597;
  font-weight: 700;
}

#gracias .agradecimiento {
  text-align: center;
}

#gracias .agradecimiento .contenido {
  padding: 120px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#gracias .agradecimiento .contenido h1 {
  font-size: 50px;
  color: black;
  font-weight: 900;
}

#gracias .agradecimiento .contenido p {
  color: #383838;
  width: 280px;
  font-size: 24px;
  line-height: 24px;
  padding: 30px 10px;
  border-bottom: 5px solid #f5df4d;
}

@media screen and (min-width: 576px) and (max-width: 1140px) {
  #DetalleForm {
    padding: 30px;
  }
  #DetalleForm .detalle2 {
    padding: 60px 0;
  }
  #DetalleForm .detalle2 .row {
    padding: 5px 0;
  }
  #DetalleForm .detalle2 .row .col-3 img {
    width: 60px;
    height: 60px;
  }
  #DetalleForm .detalle2 .borde {
    margin-top: 30px;
  }
  #DetalleForm .formulario {
    padding: 60px 30px;
  }
}

@media (max-width: 576px) {
  #DetalleForm {
    padding: 20px;
  }
  #DetalleForm .titulo {
    border-bottom: 3px solid #f5df4d;
    display: inline;
    width: 100%;
    padding: 20px 0 0 0;
  }
  #DetalleForm .titulo p {
    display: inline;
    font-size: 32px;
    color: #939597;
    font-weight: 700;
  }
  #DetalleForm .detalle2 {
    padding: 20px 0 60px 0;
  }
  #DetalleForm .detalle2 .row {
    padding: 5px 0;
  }
  #DetalleForm .detalle2 .row .col-3 img {
    width: 80px;
    height: 80px;
  }
  #DetalleForm .detalle2 .row .col-9 .modelo {
    font-weight: 900;
    font-size: 26px;
    margin: 0;
  }
  #DetalleForm .detalle2 .row .col-9 .detalle {
    font-size: 22px;
    font-weight: 300;
    margin: 0;
  }
  #DetalleForm .detalle2 .row .col-9 .detalle b {
    font-weight: 900;
  }
  #DetalleForm .detalle2 .borde {
    border-bottom: 3px solid #f5df4d;
    padding: 0;
    width: 100%;
  }
  #DetalleForm .detalle2 .total {
    text-align: right;
  }
  #DetalleForm .detalle2 .total p {
    font-size: 32px;
    font-weight: 900;
  }
  #DetalleForm .detalle2 .total p b {
    margin-left: 25px;
  }
  #DetalleForm .formulario {
    padding: 0px 0 50px 0;
  }
  #DetalleForm .formulario input {
    border: none;
    border-bottom: 1px solid #383838;
    width: 100%;
    padding: 5px;
    font-size: 22px;
    margin-bottom: 15px;
  }
  #DetalleForm .formulario .porque::-webkit-input-placeholder {
    font-weight: 800;
    color: black;
  }
  #DetalleForm .formulario .porque:-ms-input-placeholder {
    font-weight: 800;
    color: black;
  }
  #DetalleForm .formulario .porque::-ms-input-placeholder {
    font-weight: 800;
    color: black;
  }
  #DetalleForm .formulario .porque::placeholder {
    font-weight: 800;
    color: black;
  }
  #DetalleForm .formulario div {
    text-align: right;
    margin-top: 30px;
  }
  #DetalleForm .formulario div button {
    width: 70%;
    border: none;
    background-color: #383838;
    padding: 15px;
    border-radius: 10px;
    color: white;
  }
  #gracias {
    padding: 50px 20px;
  }
  #gracias .titulo p {
    display: inline;
    font-size: 32px;
    color: #939597;
    font-weight: 700;
  }
  #gracias .agradecimiento {
    text-align: center;
  }
  #gracias .agradecimiento .contenido {
    padding: 100px 0;
  }
  #gracias .agradecimiento h1 {
    font-size: 46px;
  }
  #gracias p {
    width: 260px;
    font-size: 20px;
    line-height: 24px;
    padding: 30px 10px;
  }
}
/*# sourceMappingURL=detalleform.css.map */