@import "./_vars.scss";

#envios {
  padding: 50px;
  .text {
    padding: 40px 90px;
    div {
      border-bottom: 15px solid #333;
      width: fit-content;
      h1,
      h2 {
        font-size: 65px;
        color: #333;
        font-weight: 500;
      }
      h2 {
        font-weight: 900;
      }
    }
  }
  .imagen {
    text-align: right;
    padding-right: 35px;
    img {
      width: 300px;
      height: 300px;
    }
  }
  .text {
    padding-left: 35px;
  }
}

@media screen and (min-width: 576px) and (max-width: 1140px) {
  #envios {
    padding: 50px;
    .col-6 {
      padding: 0px;
      div {
        border-bottom: 8px solid #333;
        width: fit-content;
        h1,
        h2 {
          font-size: 42px;
        }
      }
    }
    .imagen {
      text-align: left;
      img {
        width: 200px;
        height: 200px;
      }
    }
    .text {
      padding-left: 0;
    }
  }
}

@media (max-width: 576px) {
  #envios {
    padding: 50px 20px;
    .col-6 {
      padding: 0px;
      div {
        border-bottom: 8px solid #333;
        width: fit-content;
        h1,
        h2 {
          font-size: 32px;
        }
        h2 {
          font-weight: 900;
        }
      }
    }
    .imagen {
      text-align: left;
      img {
        width: 150px;
        height: 150px;
      }
    }
    .text {
      padding-left: 10px;
      padding-top: 20px;
    }
  }
}
