.navbar {
  background-color: #383838;
  width: 100%;
  margin-top: -50px;
}

.navbar .navbar-nav {
  margin-left: 60px;
}

.navbar .navbar-nav .nav-item {
  padding: 8px 0px;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #f5df4d;
  padding: 0px 20px;
  border-right: 1px solid #f5df4d;
}

.navbar .navbar-nav .nav-item .contacto {
  border: none;
}

.navbar .navbar-nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 65px;
}

.navbar .navbar-nav div .redes {
  padding: 5px 0;
  margin: 0 7px;
  width: 30px;
}

.navbar .navbar-nav div .redes .nav-link {
  padding: 0;
  border: none;
}

.navbar .navbar-nav div .redes .nav-link img {
  max-width: 100%;
}

.navbar .navbar-nav div .redes1 {
  margin-left: 260px;
}

#mainNav {
  padding: 0px 40px;
  background-color: #939597;
  width: 100%;
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
}

#mainNav .col-sm-3 {
  padding: 35px;
  padding-left: 60px;
}

#mainNav .drop {
  padding: 35px 0;
}

#mainNav .drop .dropdown .btn {
  padding: 8px 25px;
  border-radius: 8px;
  background-color: #f5df4d;
}

#mainNav .drop .dropdown:hover > .dropdown-menu {
  display: block;
}

#mainNav .drop .dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

#mainNav .col-sm-5 {
  padding: 36px;
  padding-bottom: 0;
}

#mainNav .col-sm-5 form {
  text-align: right;
}

#mainNav .col-sm-5 form input {
  border: none;
  border-radius: 15px;
}

#mainNav .col-sm-5 form :-ms-input-placeholder {
  color: #939597;
}

#mainNav .col-sm-5 form .buscar {
  position: relative;
  top: -32px;
  right: 4px;
  background-color: #f5df4d;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border: none;
  padding: 2px 15px;
}

#mainNav .col-sm-5 form .buscar svg {
  margin-right: 10px;
}

#mainNav .carro {
  padding: 30px;
  text-align: right;
}

#mainNav .carro a img {
  width: 50px;
}

@media screen and (min-width: 576px) and (max-width: 1140px) {
  .navbar .navbar-nav {
    margin-left: 0px;
  }
  .navbar .navbar-nav .nav-item {
    padding: 8px 0px;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0px 10px;
  }
  .navbar .navbar-nav div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 15px;
  }
  .navbar .navbar-nav div .redes {
    padding: 5px 0;
    width: 45px;
  }
  .navbar .navbar-nav div .redes .nav-link {
    padding: 0;
    border: none;
  }
  .navbar .navbar-nav div .redes1 {
    margin-left: 260px;
  }
  #mainNav {
    padding: 0px 40px;
    background-color: #939597;
    width: 100%;
    margin: 0;
  }
  #mainNav .col-sm-3 {
    padding: 40px 5px;
  }
  #mainNav .col-sm-5 {
    padding: 36px;
    padding-bottom: 0;
  }
  #mainNav .col-sm-5 form {
    text-align: right;
  }
  #mainNav .col-sm-5 form input {
    border: none;
    border-radius: 15px;
  }
  #mainNav .col-sm-5 form :-ms-input-placeholder {
    color: #939597;
  }
  #mainNav .col-sm-5 form .buscar {
    position: relative;
    top: -34px;
    margin-left: -70px;
    background-color: #f5df4d;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    padding: 4px 15px;
  }
  #mainNav .col-sm-5 form .buscar svg {
    margin-right: 10px;
  }
  #mainNav .carro {
    padding: 35px 10px;
  }
  #mainNav .carro img {
    width: 50px;
  }
}

@media (max-width: 576px) {
  .navbar .navbar-nav {
    text-align: center;
    margin-left: 0px;
  }
  .navbar .navbar-nav .nav-item {
    padding: 8px 0px;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0px 0px;
    border-right: none;
  }
  .navbar .navbar-nav .nav-item .contacto {
    border: none;
  }
  .navbar .navbar-nav div {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .navbar .navbar-nav div .redes {
    margin: 20px 0;
    padding: 5px 0;
    width: 60px;
  }
  .navbar .navbar-nav div .redes .nav-link {
    padding: 0;
    border: none;
  }
  .navbar .navbar-nav div .redes1 {
    margin-left: 45px;
  }
  #mainNav {
    padding: 0px 20px;
  }
  #mainNav .col-sm-3 {
    padding: 0;
    position: fixed;
    top: 10px;
    z-index: 9999;
  }
  #mainNav .col-sm-3 img {
    max-width: 75%;
    width: 100px;
  }
  #mainNav .drop {
    max-width: 50%;
    padding: 35px 0;
  }
  #mainNav .drop .dropdown .btn {
    padding: 8px 25px;
  }
  #mainNav .col-sm-5 {
    padding: 36px 0;
    padding-bottom: 0;
  }
  #mainNav .col-sm-5 form {
    margin-bottom: 0;
  }
  #mainNav .col-sm-5 form .buscar {
    top: -36px;
    margin-left: -70px;
    padding: 4px 15px;
  }
  #mainNav .carro {
    max-width: 50%;
    padding: 35px 0;
    padding-right: 20px;
  }
  #mainNav .carro .buscar2 {
    color: #f5df4d;
  }
  #mainNav .carro .buscar2 svg {
    height: 25px;
    width: 25px;
    margin-right: 15px;
  }
  #mainNav .carro img {
    width: 40px;
  }
}
/*# sourceMappingURL=header.css.map */