@import "./_vars.scss";

#itemcount {
  .contador {
    margin-bottom: 0px;
    padding: 0;
    .btncontador {
      padding: 10px 7px;
      background-color: $amarillo;
      border: none;
      border-radius: 5px;
    }
    .spancontador {
      padding: 10px 25px;
      border-bottom: 1px solid black;
      margin: 0 5px;
    }
  }
  .agregar {
    button {
      padding: 10px 0px;
      width: 100%;
      background-color: $grisOscuro;
      font-size: 20px;
      color: white;
      border: none;
      border-radius: 5px;
    }
  }
}
