@import "./_vars.scss";

.react-multi-carousel-list {
  padding: 50px 0;
  .react-multi-carousel-track {
    .react-multi-carousel-item {
      padding: 25px;
      div {
        img {
          max-width: 100%;
          width: 280px;
          height: 280px;
        }
        a {
          padding: 8px 12px;
        }
      }
    }
  }
  .react-multi-carousel-dot-list {
    .react-multi-carousel-dot {
      button {
        width: 20px;
        height: 20px;
      }
    }
    .react-multiple-carousel__arrow {
      background: rgba(0, 0, 0, 0.1);
    }
    .react-multi-carousel-dot--active {
      button {
        border: 2px solid $amarillo;
        background-color: white;
      }
    }
  }
}
