@import "./_vars.scss";

#novedades {
  padding: 50px;
  .titulo {
    padding: 0;
    div {
      padding: 20px 0px;
      h1 {
        color: #777;
        padding: 20px 0;
        border-bottom: 3px solid $amarillo;
      }
    }
  }
  .slide-container {
    width: 100%;
    overflow: hidden;
    .react-multi-carousel-list {
      padding: 50px 0;
      overflow: initial;
      .react-multi-carousel-track {
        .react-multi-carousel-item {
          padding: 25px;
          div {
            text-align: center;
            img {
              max-width: 100%;
              width: 280px;
              height: auto;
              margin-bottom: 25px;
            }
            a {
              text-decoration: none;
              color: black;
              background-color: $amarillo;
              border-radius: 7px;
              padding: 8px 12px;
            }
            a:hover {
              opacity: 0.7;
            }
          }
        }
      }
      .react-multiple-carousel__arrow {
        background: rgba(0, 0, 0, 0.3);
      }
      .react-multiple-carousel__arrow--right {
        right: -12px;
      }
      .react-multiple-carousel__arrow--left {
        left: -12px;
      }
      .react-multi-carousel-dot-list {
        display: none;
        .react-multi-carousel-dot {
          button {
            width: 20px;
            height: 20px;
          }
        }
        .react-multi-carousel-dot--active {
          button {
            border: 2px solid $amarillo;
            background-color: white;
          }
        }
      }
    }
  }
  .boton {
    text-align: center;
    a {
      color: $gris;
      border-bottom: 1px solid $grisOscuro;
      text-decoration: none;
      font-size: 20px;
    }
  }
}

@media (max-width: 576px) {
  #novedades {
    padding: 50px 20px;
    .titulo {
      div {
        h1 {
          border-bottom: 3px solid $amarillo;
        }
      }
    }
    .slide-container {
      .react-multi-carousel-list {
        padding: 50px 0;
        .react-multi-carousel-track {
          .react-multi-carousel-item {
            padding: 25px 5px;
            div {
              img {
                max-width: 100%;
                width: auto;
                height: auto;
              }
              a {
                padding: 8px 12px;
              }
            }
          }
        }
        .react-multi-carousel-dot-list {
          .react-multi-carousel-dot {
            button {
              width: 20px;
              height: 20px;
            }
          }
          .react-multiple-carousel__arrow {
            background: rgba(0, 0, 0, 0.1);
          }
          .react-multi-carousel-dot--active {
            button {
              border: 2px solid $amarillo;
              background-color: white;
            }
          }
        }
      }
    }
  }
}
