@import "./_vars.scss";

#productos-destacados {
  padding: 50px;
  .col-12 {
    border-bottom: 1px solid $amarillo;
    div {
      h1 {
        color: $gris;
      }
    }
  }
  .col-sm-3 {
    text-align: center;
    .react-multi-carousel-list {
      position: relative;
      padding: 50px 0 0 0;
      .react-multi-carousel-track {
        .react-multi-carousel-item {
          padding: 0;
          img {
            max-width: 100%;
            margin-bottom: 15px;
          }
        }
      }
      .react-multi-carousel-dot-list {
        .react-multi-carousel-dot {
          display: none;
        }
        .react-multiple-carousel__arrow {
          background: rgba(0, 0, 0, 0.1);
        }
        .react-multi-carousel-dot--active {
          button {
            border: 2px solid $amarillo;
            background-color: white;
          }
        }
      }
      .react-multiple-carousel__arrow {
        background-color: transparent;
      }
      .react-multiple-carousel__arrow::before {
        color: $grisOscuro;
        font-weight: 900;
      }
      .react-multiple-carousel__arrow--left {
        left: -15px;
      }
      .react-multiple-carousel__arrow--right {
        right: -15px;
      }
    }

    .texto {
      a {
        text-decoration: none;
      }
      h1,
      p {
        color: $grisOscuro;
        font-size: 18px;
        font-weight: 500;
        margin: 0;
        line-height: 20px;
      }
      .detalle {
        font-weight: 900;
      }
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 985px) {
  .col-lg-1 {
    display: none;
  }
}

@media (max-width: 576px) {
  #productos-destacados {
    padding: 50px 20px;
    .col-lg-2 {
      .react-multi-carousel-list {
        position: relative;
        .react-multi-carousel-track {
          .react-multi-carousel-item {
            padding: 0;
            img {
              max-width: 100%;
              width: auto;
              height: 150px;
            }
            .texto {
              h1,
              p {
                font-size: 18px;
                font-weight: 500;
                margin: 0;
                line-height: 20px;
              }
              .detalle {
                font-weight: 900;
              }
            }
          }
        }
        .react-multiple-carousel__arrow--left {
          left: -10px;
        }
        .react-multiple-carousel__arrow--right {
          right: -10px;
        }
      }
    }
  }
}
